<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Space Dynamic - SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">
<!--
    
TemplateMo 562 Space Dynamic

https://templatemo.com/tm-562-space-dynamic

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h4>Right<span>Job</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Portfolio</a></li>
              <li class="scroll-to-section"><a href="#blog">Blog</a></li> 
              <li class="scroll-to-section"><a href="#contact">Message Us</a></li> 
              <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Login</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
          <div class="title"> Add Job Offer </div>
          

          <div class="title_job">
             <br>
           Contact skilled freelancers within minutes. View profiles, ratings, portfolios and chat with them. Pay the freelancer only when you are 100% satisfied with their work.
           <br>
          </div>
           
           
            <fieldset>
                    <button type="select" class="Category">Select Job Category</button>
<select class="Category" id="Categoty" >
  <option value="1">Accounting</option>
  <option value="2">Arts</option>
  <option value="3">Administrative</option>
  <option value="4">Automotive</option>
  <option value="5">Banking</option>
  <option value="6">Biotech</option>
  <option value="7">College</option>
  <option value="8">Construction</option>
  <option value="9">Design</option>
  <option value="10">Education</option>
  <option value="11">Engineering</option>
  <option value="12">Entertainment</option>
  <option value="13">Entry Level</option>
  <option value="14">Executive</option>
  <option value="15">Facilities</option>
  <option value="16">Finances</option>
  <option value="17">Franchise</option>
  <option value="18">Federal</option>
  <option value="19">Government</option>
  <option value="20">Healthcare</option>
  <option value="21">Hospitality</option>
  <option value="22">information Technology</option>
  <option value="23">Management Consulting</option>
  <option value="24">Marketing</option>
  <option value="25">Media</option>
  <option value="26">Nurse</option>
  <option value="27">Operations</option>
  <option value="28">Pharmaceutical</option>
  <option value="29">Publishing</option>
  <option value="30">Restaurant</option>
  <option value="31">Research</option>
  <option value="32">Real Estate</option>
  <option value="33">Telecommunication</option>
  <option value="34">Trainign</option>
  
</select>
                   </fieldset>

                   <br>
                    <fieldset>
                    <button type="select" class="search">Select Job location</button>
<select class="location" id="Location" >
  <option value="1">Adrad</option>
  <option value="2">Chlef</option>
  <option value="3">Laghouat</option>
  <option value="4">Oue El Bouaghi</option>
  <option value="5">Batna</option>
  <option value="6">Bejaia</option>
  <option value="7">Biskra</option>
  <option value="8">Béchar</option>
  <option value="9">Blida</option>
  <option value="10">Bouira</option>
  <option value="11">Tamanrasset</option>
  <option value="12">Tebessa</option>
  <option value="13">Tlemcen</option>
  <option value="14">Tiaret</option>
  <option value="15">Tizi Ouzou</option>
  <option value="16">Alger</option>
  <option value="17">Djelfa</option>
  <option value="18">Jijel</option>
  <option value="19">Sétif</option>
  <option value="20">Saida</option>
  <option value="21">Skikda</option>
  <option value="22">Sidi Bel Abbes</option>
  <option value="23">Annaba</option>
  <option value="24">Guelma</option>
  <option value="25">Constantine</option>
  <option value="26">Medea</option>
  <option value="27">Mostaganem</option>
  <option value="28">M'sila</option>
  <option value="29">Mascara</option>
  <option value="30">Ouargla</option>
  <option value="31">Oran</option>
  <option value="32">El bayadh</option>
  <option value="33">Illizi</option>
  <option value="34">Bordj Bou Arreridj</option>
  <option value="35">Boumerdes</option>
  <option value="36">El Tarf</option>
  <option value="37">Tindouf</option>
  <option value="38">Tissemsilt</option>
  <option value="39">El Oued</option>
  <option value="40">Khenchela</option>
  <option value="41">Souk ahraz</option>
  <option value="42">Tipaza</option>
  <option value="43">Mila</option>
  <option value="44">Ain Defla</option>
  <option value="45">Naama</option>
  <option value="46">Ain Temouchent</option>
  <option value="47">Ghardaia</option>
  <option value="48">Relizane</option>
  <option value="49">El M'ghair	</option>
  <option value="50">	El Menia</option>
  <option value="51">Ouled Djellal</option>
  <option value="52">	Bordj Baji Mokhtar</option>
  <option value="53">	Béni Abbès</option>
  <option value="54">	Timimoun</option>
  <option value="55">	Touggourt</option>
  <option value="56">	Djanet</option>
  <option value="57">	In Salah</option>
  <option value="58">In Guezzam</option>
</select>
           </fieldset>
           <br>
                   <fieldset>
                    <button type="select" class="Category">Select Job type</button>
<select class="type" id="type" >
  <option value="1">Freelance</option>
  <option value="2">Full-time</option>
  <option value="3">internship</option>
  <option value="4">Part time</option>
  <option value="5">Temporary</option>

  




</select>
                   </fieldset>
                
                   <br>
                    <fieldset>
                    <button type="select" class="skills">Select Skills</button>

<select class="skills" >
  <option value="1">Documentation</option>
  <option value="2">Photoshopva</option>
  <option value="3">Selling </option>
  <option value="4">Coding</option>
  <option value="5">Debugging</option>
  <option value="6">Configuration</option>
  <option value="7">Applications</option>
  <option value="8">Security</option>
  <option value="9">Copywriting</option>
  <option value="10">Marketing analytics tools</option>
  <option value="11">Digital media</option>
  <option value="12">Engineering</option>
  <option value="13">Photography</option>
  <option value="14">Planning</option>
  <option value="15">Computer Skills</option>
  <option value="16">Research</option>
  <option value="17">Math</option>
  <option value="18">SpreadSHeets</option>
  <option value="19">Email</option>
  <option value="20">Ms Office</option>
  <option value="21">Writing</option>
</select>
           </fieldset>
                    <br>
            

            <div class="phone-info">
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Company" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Sallary" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="phone number" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="short descreption" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Long descreption" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Add job</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="assets/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2021 Space Dynamic Co. All Rights Reserved. 
          
          <br>Design: <a rel="nofollow" href="https://templatemo.com">Chtaybo</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/templatemo-custom.js"></script>

</body>
</html>