<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>The right job</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">
<!--
    
TemplateMo 562 Space Dynamic

https://templatemo.com/tm-562-space-dynamic

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="Homepage.html" class="logo">
              <h4>RIGHT<span>JOB</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">Job Seeker</a></li>
              <li class="scroll-to-section"><a href="#services">Statistics</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Employer</a></li>
              <li class="scroll-to-section"><a href="#blog">Blog</a></li> 
              <li class="scroll-to-section"><a href="#contact">Message Us</a></li> 
              <li class="scroll-to-section"><div class="main-red-button"><a href="#contact"> Login</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

        
  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-6">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Application's  <em> List </em> </h2>
          </div>
        </div>
      </div>
      <div class="row">
    
        <div class="col-lg-6 col-sm-3">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                  <div class="showed-content-application">
                        <div class="application_title"> Daoud riyad </div>
                        <div class="application_time">   12 hours ago </div>
                        <div class="application_detail"> price :  <b>$155.00 </b> </div>
                        <div class="application_type">  <button type="submit" class="fulltime">full-time</button> </div>
                        <div class="application_description">
                        My name is riyad , i'm from Tlemcen ,I'm UI designer ,2 years of experiences . I can do your job .
                        </div>
                        

                        <div class="Contact">  <button type="submit" >Contact</button> </div>
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
  </div>


                 </div>
           </div>

              
          </a>
        </div>
        <div class="col-lg-6 col-sm-3">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                  <div class="showed-content-application">
                        <div class="application_title"> Daoud riyad </div>
                        <div class="application_time">   02 days ago </div>
                        <div class="application_detail"> price :  <b>$155.00 </b> </div>
                        <div class="application_type">  <button type="submit" class="fulltime">full-time</button> </div>
                        <div class="application_description">
                        My name is riyad , i'm from Tlemcen ,I'm UI designer ,2 years of experiences . I can do your job . </div>
                        

                        <div class="Contact">  <button type="submit" >Contact</button> </div>
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
  </div>

                 </div>
           </div>

              
          </a>
        </div>
        <div class="col-lg-6 col-sm-3">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                  <div class="showed-content-application">
                        <div class="application_title"> Daoud riyad </div>
                        <div class="application_time">   05 minutes ago </div>
                        <div class="application_detail"> price :  <b>$155.00 </b> </div>
                        <div class="application_type">  <button type="submit" class="fulltime">full-time</button> </div>
                        <div class="application_description">
                        My name is riyad , i'm from Tlemcen ,I'm UI designer ,2 years of experiences . I can do your job .
                        </div>
                        

                        <div class="Contact">  <button type="submit" >Contact</button> </div>
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
  </div>


                 </div>
           </div>

              
          </a>
        </div>





        

              
          </a>
        </div>
        </div>
        
      </div>
      
    </div>
  </div>

  <footer>
    
                                  


  </footer>
  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/templatemo-custom.js"></script>

</body>
</html>